baseURL: https://bsdnet.github.io
languageCode: en-us
title: Learn, Practice, Summarize, Share
theme: PaperMod
paginate: 5

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

minify:
  disableXML: true
  minifyOutput: true

taxonomies:
  category: categories
  tag: tags

params:
  env: production
  title: The Infra Guy on Hardware, Linux, Security and Kubernetes
  description: A blog about today's enterprise infrastructure across private and pubric cloud
  keywords:
    - Blog
    - Portfolio
    - PaperMod
  author: "Roy Yang"
  images:
    - <link or path of image for opengraph, twitter-cards>
  DateFormat: January 2, 2006
  defaultTheme: auto
  disableThemeToggle: false

  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: true
  tocopen: true

  assets:
    favicon: /favicon_io/favicon.ico
    favicon16x16: /favicon_io/favicon-16x16.png
    favicon32x32: /favicon_io/favicon-32x32.png
    apple_touch_icon: /favicon_io/apple-touch-icon.png
    safari_pinned_tab: <link / abs url>

  label:
    text: Home
    icon: /favicon_io/apple-touch-icon.png
    iconHeight: 35

  profileMode:
    enabled: true
    title: The Infra Guy
    subtitle: "A blog about today's enterprise infrastructure across private and public cloud - Hardware, Linux, Security and Kubernetes"
    imageUrl: /sleepinggiant.jpeg 
    imageWidth: 120
    imageHeight: 120
    imageTitle: "Sleeping Giant" 
    buttons:
      - name: Posts
        url: posts
      - name: Github
        url: https://github.com

  socialIcons:
    - name: envelope
      url: mailto:bsdnet@outlook.com
    - name: github
      url: https://github.com/bsdnet
    - name: linkedin
      url: https://www.linkedin.com/in/cundongyang
    - name: discord
      url: https://discordapp.com/users/769448808442363945

  analytics:
    google:
      SiteVerificationTag: XYZabc

  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]

menu:
  main:
    - identifier: categories
      name: categories
      url: /categories/
      weight: 10
    - identifier: tags
      name: tags
      url: /tags/
      weight: 20 
    - identifier: archives
      name: archives
      url: /archives/
      weight: 30
    - identifier: Search
      name: search
      url: /search/
      weight: 40

# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: monokai

  outputs:
  home:
    - HTML
    - RSS
    - JSON
